<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recipe Form</title>

  <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card border-primary">
        <div class="card-header text-light bg-primary">
          <!--/*@thymesVar id="recipe" type="guru.springframework.recipes.domain.Recipe"*/-->
          <h4>Edit Recipe Information</h4>
        </div>
        <div class="card-body">
          <form th:object="${recipe}" th:action="@{/recipe/}">
            <input type="hidden" th:field="*{id}" />

            <row>
              <div class="col-md-12 form-group">
                <label for="recipeDescription">Recipe Description:</label>
                <input id="recipeDescription" type="text" class="form-control" th:field="*{description}" />
              </div>
            </row>

            <row>
              <div class="col-md-3 form-group">
                <label>
                  <input type="checkbox" value="" />
                  Cat 1
                </label>
              </div>
            </row>

            <row>
              <div class="col-md-3 form-group">
                <label for="recipeCookTime">Cooking Time:</label>
                <input id="recipeCookTime" type="text" class="form-control" th:field="*{cookTime}" />
              </div>
              <div class="col-md-3 form-group">
                <label for="recipePrepTime">Preparation Time:</label>
                <input id="recipePrepTime" type="text" class="form-control" th:field="*{prepTime}" />
              </div>
            </row>

            <row>
              <div class="col-md-3 form-group" >
                <label for="recipePrepTime">Servings:</label>
                <input id="recipePrepTime" type="text" class="form-control" th:field="*{servings}" />
              </div>

              <div class="col-md-3 form-group" >
                <label for="recipeDifficulty">Difficulty:</label>
                <select id="recipeDifficulty" class="form-control">
                  <option>Easy</option>
                  <option>Medium</option>
                  <option>Hard</option>
                </select>
              </div>
            </row>

            <row>
              <div class="col-md-3 form-group" style="float: left">
                <label for="recipePrepTime">Source:</label>
                <input id="recipePrepTime" type="text" class="form-control" th:field="*{source}" />
              </div>
              <div class="col-md-6 form-group"  style="float: left">
                <label for="recipePrepTime">URL:</label>
                <input id="recipePrepTime" type="text" class="form-control" th:field="*{url}" />
              </div>
            </row>

            <row>
              <div class="col-md-11">
                <label for="recipeDescription">Ingredients:</label>
                <input id="recipeDescription" type="text" class="form-control" th:field="*{description}" />
              </div>
              <div class="col col-md-1">
                <a class="btn btn-primary" href="#" role="button">Edit</a>
              </div>
            </row>

            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li th:each="ingredient : ${recipe.ingredients}"
                      th:text="${ingredient.getAmount() + ingredient.uom.getDescription() + ' - ' + ingredient.getDescription()}">[Ingredients]</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="recipeDirections">Directions:</label>
                <textarea class="form-control" id="recipeDirections" rows="3" th:field="*{directions}"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="recipeNotes">Notes:</label>
                <textarea id="recipeNotes" class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>

</body>
</html>